@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../img/bg3.jpg");
    background-size: cover;
    position: center;
}

.container {
    width: 100%;
    margin: auto;

}

.nav_box {

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
    background-color: rgba(5, 21, 37, 0.80);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;

}

.logo {

    text-decoration: none;
    color: white;
    padding-left: 10px;
    position: sticky;
    background-color: rgba(5, 21, 37, 0.80);
}

.tab-nav {

    outline: none;
    display: none;

}

.label {

    display: none;
    color: white;

}

.burger {

    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 5px;
}

.content_nav {

    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;

}

.content_nav li {

    display: inline-block;
    padding-right: 10px;

}

.content_nav li a {

    text-decoration: none;
    color: white;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}


.s-box {
    width: 200px;
    position: relative;
}

.s-box .s-input {
    display: block;
    border: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    padding: 13px;
    border-radius: 3px;
    width: 100%;
    transition: box-shadow 100ms;
    outline: none;
    height: 30px;
}

.s-box .s-input:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05),
        0 0 2px rgba(0, 0, 0, 0.05),
        0 0 3px rgba(0, 0, 0, 0.05),
        0 0 4px rgba(0, 0, 0, 0.05),
        0 0 5px rgba(0, 0, 0, 0.05),
        0 0 4px rgba(0, 0, 0, 0.05),
        0 0 5px rgba(0, 0, 0, 0.05)
}

.s-box .vs-icon {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
}


.content_nav li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;
}

.content_nav li a:hover::after {
    transform: scale(1, 1);
}




@media screen and (max-width: 791px) {
    .label {
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }

    .content_nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }



    .nav_box input:checked~.content_nav {
        max-height: 500px;
    }

    .content_nav li {

        padding: 15px 0px;
    }
}




/* content */


.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}

.content {
    display: grid;
    grid-template-areas:
    "box1" 
    "box2"
    "box3" 
    "box4";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}
@media screen and (min-width:796px) {
    .content {
        display: grid;
        grid-template-areas:
            "box1 box2"
            "box3 box4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}
@media screen and (min-width:1200px) {
    .content {
        display: grid;
        grid-template-areas:
            "box1 box2 box3 box4";
           
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
    }

}


.content img{
    height: 300px;
    width: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}





footer {
    background-color: rgba(5, 21, 37, 0.50);
    color: white;
    padding: 20px;
    grid-gap: 200px;
    bottom: 0;


}

.f-latest {
    grid-area: latest;
}

.f-help {
    grid-area: help;

}

.f-touch {
    grid-area: gTouch;
}

@media screen and (min-width:700px) {
    footer {
        display: grid;
        grid-template-areas:
            "latest help gTouch";
        grid-template-columns: 1fr 80px 1fr;
        grid-template-rows: 1fr;
    }

}


.f-help li, .f-touch li, f-latest {
    display: block;
    margin-left: -30px;
}

.f-help li a, .f-touch li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.f-help li a:hover {
    text-decoration: underline;
}

.f-touch li a:hover {
    text-decoration: underline;

}

#f-copy {
    text-align: center;
    background-color: rgba(5, 21, 37, 0.50);
    color: white
}



.bgcolor-skyblue {
    background: #eaf0f9;
}

.aboutUs {
    background-color: rgba(5, 21, 37, 0.10);
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;

}

